@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nz02jm');
  src:  url('fonts/icomoon.eot?nz02jm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nz02jm') format('truetype'),
    url('fonts/icomoon.woff?nz02jm') format('woff'),
    url('fonts/icomoon.svg?nz02jm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-visualstudiocode:before {
  content: "\e90d";
  color: #007acc;
}
.icon-netlify:before {
  content: "\e90e";
  color: #00c7b7;
}
.icon-git:before {
  content: "\e90f";
  color: #f05032;
}
.icon-github:before {
  content: "\e910";
}
.icon-styled-components:before {
  content: "\e911";
  color: #db7093;
}
.icon-postgresql:before {
  content: "\e912";
  color: #336791;
}
.icon-next-dot-js:before {
  content: "\e913";
}
.icon-mysql:before {
  content: "\e914";
  color: #4479a1;
}
.icon-node-dot-js:before {
  content: "\e915";
  color: #393;
}
.icon-react:before {
  content: "\e916";
  color: #61dafb;
}
.icon-javascript:before {
  content: "\e917";
  color: #f7df1e;
}
.icon-html5:before {
  content: "\e918";
  color: #e34f26;
}
.icon-css3:before {
  content: "\e919";
  color: #1572b6;
}
.icon-tailwindcss:before {
  content: "\e91a";
  color: #38b2ac;
}
.icon-arrow-up:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-cosmetic:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-map-pin:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-trim:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-woman-hair:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-angular:before {
  content: "\e900";
}